{% extends 'products/base.html' %}

{% block body_block %}

<div class="container" id="product_list_div">

      <div class="row">
          <div class="col-sm-1">
                {% for img in images %}
                      {% if not img.featured %}
                        <div class="col-xs-12">
                          <a href="#" class="thumbnail">
                            <img class="img-responsive img-thumbnail" src="/media/{{img.image}}"/>
                          </a>
                        </div>
                      {% endif %}
                 {% endfor %}
            </div>
            <div class="col-sm-3">
                {% for img in images %}
                    {% if img.featured %}
                        <div class="col-xs-12">
                            <img class="img-responsive img-thumbnail" src="/media/{{img.image}}"/>
                        </div>
                     {% endif %}
                {% endfor %}
          </div>
          <div class="col-sm-8">
            <h1>{{product_detail.title}}<a href="#" class="btn btn-success float-right" name="add_to_cart">Add To Cart</a></h1><hr/>
            <b>Price</b> : {{ product_detail.sale_price }}<br/>
            <b>Delivery Charges</b> : Free Delivery on purchase of above INR999<hr/>
            {{ product_detail.description|linebreaks}}

          </div>
      </div>
</div>


{% endblock %}
